<footer>
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contact Me</h5>
            </div>
            <ul style="display: inline-block; float: left">
                <li style="float: left; margin-left: 20px;">
                    <a href="mailto: risley.c@husky.neu.edu"
                       class="waves-effect waves-light btn-floating social facebook">
                        <i class="material-icons">email</i></a>
                </li>
                <li style="float: left; margin-left: 20px;">

                    <a href="https://www.linkedin.com/in/christopherrisley/"
                       class="waves-effect waves-light btn-floating social linkedin">
                        <i class="fa fa-linkedin"></i></a>
                </li>

                <li style="float: left; margin-left: 20px;">
                    <a href="https://github.com/CrizR" class="waves-effect waves-light btn-floating social github">
                        <i class="fa fa-github"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>