<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a class="navbar-link" href="/home">Home</a></li>
            <li class="navbar-item">
                <a class="navbar-link" target="_blank">Resume</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" target="_blank" href="https://www.github.com/CrizR">Projects</a>
            </li>
        </ul>
    </div>
</nav>